h1{
    color: #ffaa00;
    font-weight :500;

}

.sch{
    color:darkred;
    font-size: 30px;
}

.pic{
    height: 300px;
    border: 10px dotted;
    padding: 10px;
    border-color: tomato;
}

a:link, a:visited {
    background-color: #e7f436;
    color: white;
    padding: 14px 20px 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
}

a:hover, a:active {
    background-color: red;
}